@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');



#size-test > li:nth-child(1){font-size: 24px;}
#size-test > li:nth-child(2){font-size: 18pt;}
#size-test > li:nth-child(3){font-size: 150%;}
#size-test > li:nth-child(4){font-size: 1.5em;}

#weight-test> li{font-weight: 34px;}
#weight-test > li:nth-child(1){font-weight: 400;}
#weight-test > li:nth-child(2){font-weight: bold;}
#weight-test > li:nth-child(3){font-weight: 700;}
#weight-test > li:nth-child(4){font-weight: bolder;}
#weight-test > li:nth-child(5){font-weight: lighter;}

.cls > li{font-size: 24px;}
#family-test>li:nth-child(1){
    font-family: '궁서';
}
#family-test>li:nth-child(2){
    font-family: '궁ㅇ서';
}
#family-test>li:nth-child(3){
    font-family: '궁ㅇ서','제명체','굴림체','궁서';
}

/* HTML로 LINK태그를 이요하여 변경 */
#family-test2 >li:nth-child(1){
    font-family: "Black Han Sans", sans-serif;
}

/* import로 웹폰트 추가 */
#family-test2 >li:nth-child(2){
    font-family: "Black Han Sans", sans-serif;
}

#family-test2 >li:nth-child(3){
    font-family: "Black Han Sans", sans-serif;
}









